{% extends 'admin/base.html'%}

{%block branding%}
<h1>後端監控</h1>
{% endblock %}


{% load i18n static jet_tags %}

{% block extrahead %}
    {{ block.super }}

{% endblock %}

{% block blockbots %}
    {{ block.super }}
    <!-- FIXING SELECT 2 JQUERY ISSUE-->
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' as url %}{{ url|jet_append_version }}"
            type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery.init.js' as url %}{{ url|jet_append_version }}"></script>
{%endblock%}

