{% extends 'admin/base.html'%}

{% load i18n static jet_tags %}

{% block sidebar-link-label %}
<div id="sidebar-link-label">
    <a href="/" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon icon-open-external"></span>
            檢視網站
        </span>
    </a>
</div>
{% endblock %}
{% block content %}

<h2>修改員工帳密</h2><br>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if form.errors %}

        {% for error in field.errors %}
          <p style="color:red"> {{ error }} </p>

        {% endfor %}
        {% endif %}
      </p>
      
    {% endfor %}
    
    <button type="submit" class="button">Save changes</button>
  </form>
  {% endblock %}