{% extends 'admin/base.html'%}
<!-- {% load i18n static jet_tags %} -->

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock %}

{% block content %}
  
  <h2>註冊員工帳號</h2><br>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}<br>
          <small style="color: grey">{{ field.help_text }}</small><br>
        {% endif %}
        {% if form.errors %}

        {% for error in field.errors %}
          <p style="color:red"> {{ error }} </p>

        {% endfor %}
        {% endif %}
      </p>
    {% endfor %}
    <br>
    <button type="submit"class="button">連結line帳號</button><br><br>
    <button type="submit"class="button">註冊員工帳號</button>
  </form>

{% endblock %}