{% extends "admin/change_list.html" %}

{% load i18n static jet_tags %}

{% block extrahead %}
{{ block.super }}

{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div>
    <button id="signup" class="button" style="margin: 1rem 0"> 註冊員工帳號</button>
    <button id="change_password" class="button" style="margin: 1rem 0">修改員工帳密 </button>
</div>
<script>
$("#signup").click(function(){
    window.location='/admin/employees/signup';
    });
$('#change_password').click(function(){
    window.location='/admin/employees/change_password';
})
</script>
{{ block.super }}


{%endblock%}