{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}

<!--從extra_content 抓取chart_data-->
{{ employee_chart_data|json_script:"chart_data" }} 


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" /> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<!-- 輸出圖表 -->
<div id="allchartdiv">
  <style type="text/css">
    #allchartdiv {height: 100%; width:100%; font-size: 0;}
    #c1,#c2{display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
    #c3,#c4{display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
    #c1 {width: 100%; }
    #c2 {width: 100%; }
    #c3 {width: 100%; }
    #c4 {width: 100%; }
    </style>
    <div id="c1" style="width: 50%;">
      <canvas id="myChart"></canvas>
      <div style="text-align:center">
        <button id="reload"  class="button" style="margin: 1rem 0">Reload chart data </button>
        <button id="bar" class="button" style="margin: 1rem 0" >bar </button>
        <button id="line" class="button" style="margin: 1rem 0" >line </button>
        <button id="pie" class="button" style="margin: 1rem 0" >pie </button>  
      </div>       
    </div>
    <div id="c2" style="width: 50%;">
      <canvas id="myChart2"></canvas>
      <div style="text-align:center">
        <button id="reload"  class="button" style="margin: 1rem 0">Reload chart data </button>
        <button id="bar" class="button" style="margin: 1rem 0" >bar </button>
        <button id="line" class="button" style="margin: 1rem 0" >line </button>
        <button id="pie" class="button" style="margin: 1rem 0" >pie </button>  
      </div> 
    </div>
    <div id="c3" style="width: 50%;">
      <canvas id="myChart3"></canvas>
      <div style="text-align:center">
        <button id="reload"  class="button" style="margin: 1rem 0">Reload chart data </button>
        <button id="bar" class="button" style="margin: 1rem 0" >bar </button>
        <button id="line" class="button" style="margin: 1rem 0" >line </button>
        <button id="pie" class="button" style="margin: 1rem 0" >pie </button>   
      </div>
    </div>
    <div id="c4" style="width: 50%;">
      <canvas id="myChart4"></canvas>
      <div style="text-align:center">
        <button id="reload"  class="button" style="margin: 1rem 0">Reload chart data </button>
        <button id="bar" class="button" style="margin: 1rem 0" >bar </button>
        <button id="line" class="button" style="margin: 1rem 0" >line </button>
        <button id="pie" class="button" style="margin: 1rem 0" >pie </button>  
      </div> 
</div>




<script>
  //data input  
    // 輸入的json型別轉換 json stringtext --> json 
  const chart_data_str = JSON.parse(document.getElementById("chart_data").textContent);
  const chartData=jQuery.parseJSON(chart_data_str);
  console.log(chartData.map(d=>d.employee));
  console.log(chartData.map(d=>d.y));
  var ctx = document.getElementById('myChart').getContext('2d');
  var ctx2 = document.getElementById('myChart2').getContext('2d');
  var ctx3 = document.getElementById('myChart3').getContext('2d');
  var ctx4 = document.getElementById('myChart4').getContext('2d');
  // 輸出圖表
  var config = 
  {
    type: 'line',
    
    data: {
      
      labels:chartData.map(d=>d.employee),
      datasets:
      [
        {
          label: '燒製數量',
          data: chartData.map(d=>d.y),
          backgroundColor: 'rgba(220,20,20,0.5)',
        }
      ]
    },
      options : 
      { 
        responsive:true,
        scales: 
        {
          xAxes:
          [ 
            { 
              scaleLabel: {
                    display: true,
                    labelString: '員工'},
              ticks: 
              { 
                beginAtZero: true,

              }
            } 
          ] ,
          yAxes:
          [ 
            { 
              scaleLabel: 
              {       
                      display: true,
                      labelString: '次數'
              },
              ticks: 
              { 
                beginAtZero: true,
                min: 0,
                stepSize: 1,

              }
            } 
          ] 
        }
      } 
    };

  var myChart;
  var myChart2;
  var myChart3;
  var myChart4;
  $("#reload").click(function(){
    change('line')
  });
  $("#pie").click(function(){
    change('pie')
  });
  $("#bar").click(function(){
    change('bar')
  });
  $("#line").click(function(){
    change('line')
  });


  function change(newType){

    if (myChart) {
      myChart.destroy();
    }
    // if (newType==pie)
    // {
    //   config.options.scales=false
    //   config.options.scales=false
    // }else{
    //   config.options.scales.xAxes[0]=true
    //   config.options.scales.yAxes[0]=true
    // }
    var temp=jQuery.extend(true,{},config);
    temp.type= newType;
    myChart=new Chart(ctx,temp);

  } 
  myChart=new Chart(ctx,config);
  myChart2=new Chart(ctx2,config);
  myChart3=new Chart(ctx3,config);
  myChart4=new Chart(ctx4,config);
</script>
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}
